*.pyc
*.out
*.tpc
*.log
.DS_Store
*.exe
*.bak
!/dist/*.exe
tm.exe
tm0.exe
tinypy.exe
minipy
minipyc
src/minipy
test/minipy
__pycache__
tinypy-1.1/
tm2c/output/
*.plist
*.bz2
id_rsa_github*
/01_参考项目/
/build/
minipy.dSYM
/**/*.dSYM
/test/tinypy/build/*
/test/tinypy/tinypy/tinypy
/test/tinypy/tinypy/vm
/test/micropython/
ctest
pack_main

